@charset "utf-8";

@font-face {
  font-family: "myfont1";
  src: url("font/GenEiChikugoMin3-R.ttf") format(truetype);
}

@font-face {
  font-family: "myfont2";
  src: url("font/GenEiGothicN-Regular.otf") format(opentype);
}

@font-face {
  font-family: "myfont3";
  src: url("font/GenEiGothicN-ExtraLigh.otf") format(opentype);
}

@font-face {
  font-family: "myfont4";
  src: url("font/GenEiGothicN-Ligh.otf") format(opentype);
}

@font-face {
  font-family: "myfont5";
  src: url("font/GenEiGothicN-SemiLight.otf") format(opentype);
}

@font-face {
  font-family: "myfont6";
  src: url("font/GenEiGothicN-Heavy.otf") format(opentype);
}

@font-face {
  font-family: "myfont7";
  src: url("font/GenEiGothicN-Bold.otf") format(opentype);
}

@font-face {
  font-family: "myfont8";
  src: url("font/GenEiGothicN-SemiBold.otf") format(opentype);
}

/*=======================================================================
common
=======================================================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: bottom;
}

/*=======================================================================
header
=======================================================================*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(100% - 40px, 1440px);
  height: 72px;
  margin-inline: auto;
}

header h1 {
  font-family: "M PLUS 2", sans-serif;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 40px;
  white-space: nowrap;
  transition: all .3s;
  z-index: 5;
}

header h1 img {
  transition: all .3s;
}

header h1 span {
  font-size: 1.875rem;
}

header .header-menu ul {
  display: flex;
}

header .header-menu ul li {
  font-family: "myfont1";
  width: 132px;
  height: 32px;
}

header .header-menu ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.125rem;
  cursor: pointer;
}

header .header-menu ul li a:hover {
  opacity: .6;
  scale: 1.1;
}

header .header-menu .header-service {
  position: relative;
}

header .header-menu .header-service::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 32px;
  background: #000;
  opacity: .6;
}

header .header-menu .header-service::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 32px;
  background: #000;
  opacity: .6;
}

header .header-menu .header-contact {
  position: relative;
}

header .header-menu .header-contact::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 32px;
  background: #000;
  opacity: .6;
}

header #hamburger {
  position: relative;
  display: none;
  width: 60px;
  height: 60px;
  cursor: pointer;
  z-index: 5;
}

header #hamburger #border1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 42px;
  height: 2px;
  background: #111;
  transition: all .3s;
}

header #hamburger #border1.show {
  transform: rotate(45deg) translate(-7px, 21px);
}

header #hamburger #border-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 42px;
  height: 2px;
  background: #111;
  transition: opacity .3s;
}

header #hamburger #border-center.show {
  opacity: 0;
}

header #hamburger #border2 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  width: 42px;
  height: 2px;
  background: #111;
  transition: all .3s;
}

header #hamburger #border2.show {
  transform: rotate(-45deg) translate(-5px, -22px);
}

header #menu {
  position: fixed;
  top: 72px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  border-top: 1px solid #bbb;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
  z-index: 4;
}

header #menu.show {
  opacity: 1;
}

header #menu ul li {
  font-family: "myfont1";
  width: 100%;
  padding: 32px 0;
  border-bottom: 1px solid #bbb;
  text-align: center;
  cursor: pointer;
}

header #menu ul li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.125rem;
  cursor: pointer;
}

header #menu ul li a:hover {
  opacity: .6;
  scale: 1.1;
}

header #menu li:nth-child(1) {
  transform: translateY(200px);
  opacity: 0;
  transition: all .3s;
}

header #menu.show li:nth-child(1) {
  transform: none;
  opacity: 1;
  pointer-events: all;
}

header #menu li:nth-child(2) {
  transform: translateY(200px);
  opacity: 0;
  transition: all .3s .1s;
}

header #menu.show li:nth-child(2) {
  transform: none;
  opacity: 1;
  pointer-events: all;
}

header #menu li:nth-child(3) {
  transform: translateY(200px);
  opacity: 0;
  transition: all .3s .2s;
}

header #menu.show li:nth-child(3) {
  transform: none;
  opacity: 1;
  pointer-events: all;
}

header #menu li:nth-child(4) {
  transform: translateY(200px);
  opacity: 0;
  transition: all .3s .3s;
}

header #menu.show li:nth-child(4) {
  transform: none;
  opacity: 1;
  pointer-events: all;
}

header #mask {
  position: fixed;
  inset: 0;
  background: #fff;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
  z-index: 3;
}

header #mask.show {
  opacity: 1;
  pointer-events: all;
}

/*=======================================================================
mainvisual
=======================================================================*/
main .mainvisual {
  position: relative;
  width: 100vw;
  height: calc(100vh - 72px);
  background-image: url(mainvisual.jpg);
  background-size: cover;
  background-position: 10%;
  overflow: hidden;
}

main .mainvisual .background {
  position: absolute;
  inset: 0 0 0 0;
  background: rgba(0, 56, 121, .7);
}

main .mainvisual .mainvisual-text {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  font-family: "myfont1";
  color: #fff;
  z-index: 2;
}

main .mainvisual .mainvisual-text .pc-p {
  font-size: 4.25rem;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(-100px);
  transition: all .3s;
  animation: anime1 .8s forwards;
}

@keyframes anime1 {
  100% {
    opacity: 1;
    transform: none;
  }
}

main .mainvisual .mainvisual-text .sub-p {
  margin-top: 36px;
  font-size: 2.25rem;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(-100px);
  transition: all .3s;
  animation: anime2 .8s .6s forwards;
}

@keyframes anime2 {
  100% {
    opacity: 1;
    transform: none;
  }
}

main .mainvisual .square1 {
  position: absolute;
  top: -300px;
  right: 655px;
  width: 360px;
  height: 315px;
  clip-path: polygon(0 0,
      52% 0,
      100% 100%,
      48% 100%);
  background: #1d52a9;
  opacity: 0;
  animation: anime3 2s 3.6s forwards;
}

@keyframes anime3 {
  100% {
    opacity: 1;
  }
}

main .mainvisual .mainvisual-img1 {
  position: absolute;
  overflow: hidden;
  top: 35px;
  right: 494px;
  width: 336px;
  height: 280px;
  clip-path: polygon(0 0,
      55% 0,
      100% 100%,
      45% 100%);
  background-image: url(mainvisual-img1.jpg);
  background-repeat: no-repeat;
  background-size: 290%;
  background-position: 53% 60%;
  opacity: 0;
  transform: translate(-130px, -220px);
  animation: anime4 1s 2s forwards;
}

@keyframes anime4 {
  100% {
    opacity: 1;
    transform: none;
  }
}

main .mainvisual .mainvisual-img2 {
  position: absolute;
  overflow: hidden;
  top: 335px;
  right: 286px;
  width: 382px;
  height: 360px;
  clip-path: polygon(0 0,
      48% 0,
      100% 100%,
      52% 100%);
  background-image: url(mainvisual-img2.jpeg);
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: 73% 20%;
  opacity: 0;
  transform: translate(-130px, -220px);
  animation: anime5 1s 1.4s forwards;
}

@keyframes anime5 {
  100% {
    opacity: 1;
    transform: none;
  }
}

main .mainvisual .mainvisual-img3 {
  position: absolute;
  overflow: hidden;
  top: 35px;
  right: -43px;
  width: 660px;
  height: 480px;
  clip-path: polygon(0 0,
      60% 0,
      100% 100%,
      40% 100%);
  background-image: url(mainvisual-img3.jpg);
  background-repeat: no-repeat;
  background-size: 127%;
  background-position: 10% 60%;
  opacity: 0;
  transform: translate(-130px, -220px);
  animation: anime6 2s 2.6s forwards;
}

@keyframes anime6 {
  100% {
    opacity: 1;
    transform: none;
  }
}

main .mainvisual .square2 {
  position: absolute;
  top: 535px;
  right: -315px;
  width: 660px;
  height: 480px;
  clip-path: polygon(0 0,
      60% 0,
      100% 100%,
      40% 100%);
  background: #1d52a9;
  opacity: 0;
  animation: anime7 2s 3.6s forwards;
}

@keyframes anime7 {
  100% {
    opacity: 1;
  }
}

/*=======================================================================
about
=======================================================================*/
main .about {
  padding: 120px 0;
}

main .about .about-title {
  position: relative;
  width: min(100% - 122px, 1120px);
  margin-inline: auto;
}

main .about .about-title img {
  position: absolute;
  bottom: 0;
  left: -42.5px;
  z-index: -2;
}

main .about .about-title h2 {
  font-family: "myfont1";
  font-weight: bold;
  font-size: 2rem;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff;
}

main .about .about-title p {
  font-family: "Playfair Display", serif;
  margin-top: -4px;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff;
}

main .about .about-main>h3 {
  display: none;
  font-family: "myfont1";
  font-size: 2.25rem;
  line-height: 1.5;
  letter-spacing: 1px;
  width: min(100% - 40px, 1120px);
  margin-inline: auto;
  margin-top: 24px;
}

main .about .about-main .about-block {
  display: flex;
  gap: 32px;
  width: min(100% - 40px, 1120px);
  margin-inline: auto;
  margin-top: 32px;
}

main .about .about-main .about-block>div {
  width: calc((100% - 32px) / 2);
}

main .about .about-main .about-block .about-content h3 {
  font-family: "myfont1";
  font-size: 2.25rem;
  line-height: 1.5;
  letter-spacing: 1px;
}

main .about .about-main .about-block .about-content .about-text {
  font-family: "myfont2";
  margin-top: 32px;
}

main .about .about-main .about-block .about-content .about-text p {
  font-size: 1.125rem;
  line-height: 1.75;
}

main .about .about-main .about-block .about-content .about-text p+p {
  margin-top: 16px;
}

main .about .about-block .about-content .about-btn {
  position: relative;
  width: 240px;
  margin-top: 32px;
  font-family: "myfont1";
  font-size: 1.125rem;
  color: #fff;
  background: #c85f48;
  text-align: center;
  cursor: pointer;
  transition: transform .3s, opacity .3s;
}

main .about .about-block .about-content .about-btn::after {
  content: '>';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #fff;
}

main .about .about-block .about-content .about-btn:hover {
  opacity: .6;
}

main .about .about-block .about-content .about-btn:active {
  opacity: .4;
  transform: translate(2px, 2px);
}

main .about .about-block .about-content .about-btn a {
  display: block;
  width: 100%;
  padding: 19px 0;
}

main .about .about-block .about-content .about-btn .about-btn-shadow {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 240px;
  height: 57px;
  border: 1px solid #c85f48;
  transition: transform .3s;
  pointer-events: none;
}

main .about .about-block .about-content .about-btn:active .about-btn-shadow {
  transform: translate(-2px, -2px);
}

main .about .about-main .about-block .about-img {
  opacity: 0;
  transform: translateY(100px);
  transition: transform .6s, opacity .6s;
}

main .about .about-main .about-block .about-img img {
  width: 100%;
}




/*=======================================================================
service
=======================================================================*/
main .service {
  position: relative;
  padding: 120px 0;
}

main .service .service-background {
  position: absolute;
  inset: 0 0 0 0;
  background: rgba(217, 217, 217, .3);
  z-index: -3;
}

main .service .service-title {
  position: relative;
  width: min(100% - 122px, 1120px);
  margin-inline: auto;
}

main .service .service-title img {
  position: absolute;
  bottom: 0;
  left: -42.5px;
  z-index: -2;
}

main .service .service-title h2 {
  font-family: "myfont1";
  font-weight: bold;
  font-size: 2rem;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff;
}

main .service .service-title p {
  margin-top: -4px;
  font-family: "Playfair Display", serif;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff;
}

main .service .service-main>h3 {
  display: none;
  font-family: "myfont1";
  font-size: 2.25rem;
  line-height: 1.5;
  letter-spacing: 1px;
  width: min(100% - 40px, 1120px);
  margin-inline: auto;
  margin-top: 24px;
}

main .service .service-main .service-block {
  display: flex;
  flex-direction: row-reverse;
  gap: 32px;
  width: min(100% - 40px, 1120px);
  margin-inline: auto;
  margin-top: 32px;
}

main .service .service-main .service-block>div {
  width: calc((100% - 32px) / 2);
}

main .service .service-main .service-block .service-content h3 {
  font-family: "myfont1";
  font-size: 2.25rem;
  line-height: 1.5;
  letter-spacing: 1px;
}

main .service .service-main .service-block .service-content .service-text {
  font-family: "myfont2";
  margin-top: 32px;
}

main .service .service-main .service-block .service-content .service-text p {
  font-size: 1.125rem;
  line-height: 1.75;
}

main .service .service-main .service-block .service-content .service-text p+p {
  margin-top: 16px;
}

main .service .service-main .service-img {
  opacity: 0;
  transform: translateY(100px);
  transition: transform .6s, opacity .6s;
}

main .service .service-main .service-img img {
  width: 100%;
}

main .service .service-supply {
  width: min(100% - 40px, 980px);
  margin-top: 48px;
  margin-inline: auto;
  text-align: center;
}

main .service .service-supply>p {
  font-family: "myfont1";
  font-size: 2rem;
  color: #c85f48;
}

main .service .service-supply>div {
  margin-top: 16px;
  display: flex;
  gap: 24px;
}

main .service .service-supply>div .service1,
main .service .service-supply>div .service2,
main .service .service-supply>div .service3,
main .service .service-supply>div .service4 {
  width: calc((100% - 72px) / 4);
  font-family: "myfont2";
  opacity: 0;
  transition: opacity 1s;
}

main .service .service-supply>div>div div {
  position: relative;
  width: 100%;
  background: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
  border-radius: 16px;
  aspect-ratio: 1 / 1;
}

main .service .service-supply>div>div div img {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 70%;
  height: auto;
}

main .service .service-supply>div>div p {
  margin-top: 8px;
  font-size: 1.125rem;
}

main .service .service-example {
  width: min(100% - 40px, 980px);
  margin-top: 32px;
  margin-inline: auto;
  text-align: center;
}

main .service .service-example>p {
  font-family: "myfont1";
  font-size: 2rem;
  color: #c85f48;
}

main .service .service-example>div {
  margin-top: 16px;
  display: flex;
  gap: 16px;
}

main .service .service-example>div .example1,
main .service .service-example>div .example2,
main .service .service-example>div .example3 {
  width: calc((100% - 32px) / 3);
  opacity: 0;
  transition: opacity 1s;
}

main .service .service-example>div>div div {
  width: 100%;
}

main .service .service-example>div>div div img {
  width: 100%;
}

main .service .service-example>div>div p {
  margin-top: 8px;
  font-size: 1.125rem;
}


/*=======================================================================
history
=======================================================================*/
main .history {
  position: relative;
  overflow: hidden;
  background: url(history.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 120px 0;
  z-index: -3;
}

main .history .inner  {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: inset(0);
  z-index: -3;
}

main .history .inner .sp-since {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "myfont1";
  font-size: 5rem;
  color: #fff;
  white-space: nowrap;
  opacity: .1;
  z-index: -2;
}

main .history .inner .sp-since span {
  font-size: 3.125rem;
}

main .history .history-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(sp-history.jpg);
  background-size: cover;
  background-position: center;
  z-index: -3;
}

main .history .history-content {
  width: min(100% - 40px, 1120px);
  margin-inline: auto;
  font-family: "myfont1";
  text-align: center;
  color: #fff;
}

main .history .history-content .pc-since {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "myfont1";
  font-size: 15rem;
  white-space: nowrap;
  opacity: .1;
  z-index: -2;
}

main .history .history-content .pc-since span {
  font-size: 10rem;
}

main .history .history-title p {
  font-size: 2.5rem;
  letter-spacing: 1px;
}

main .history .pc-history-text {
  margin-top: 48px;
}

main .history .pc-history-text p {
  font-size: 1.25rem;
  line-height: 1.75;
  letter-spacing: 1px;
}

main .history .sp-history-text {
  display: none;
  margin-top: 48px;
}

main .history .sp-history-text p {
  font-size: .875rem;
  line-height: 1.75;
  letter-spacing: 1px;
}


main .history .pc-history-text p+p,
main .history .sp-history-text p+p {
  margin-top: 32px;
}

/*=======================================================================
recruit
=======================================================================*/
main .recruit {
  position: relative;
  padding: 120px 0;
}

main .recruit .recruit-background {
  position: absolute;
  inset: 0 0 0 0;
  background: rgba(217, 217, 217, .3);
  z-index: -3;
}

main .recruit .recruit-title {
  position: relative;
  width: min(100% - 122px, 1120px);
  margin-inline: auto;
}

main .recruit .recruit-title img {
  position: absolute;
  bottom: 0;
  left: -42.5px;
  z-index: -2;
}

main .recruit .recruit-title h2 {
  font-family: "myfont1";
  font-weight: bold;
  font-size: 2rem;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff;
}

main .recruit .recruit-title p {
  margin-top: -4px;
  font-family: "Playfair Display", serif;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff;
}

main .recruit .recruit-content {
  display: flex;
  align-items: center;
  gap: 32px;
  width: min(100% - 40px, 1120px);
  margin-top: 32px;
  margin-inline: auto;
}

main .recruit .recruit-content .recruit-text p {
  font-family: "myfont2";
  font-size: 1.25rem;
  letter-spacing: 2px;
}

main .recruit .recruit-content>div {
  width: calc((100% - 32px) / 2);
}

main .recruit .recruit-content .recruit-btn {
  position: relative;
  font-size: 1.125rem;
  width: 240px;
  margin-top: 32px;
  color: #fff;
  font-family: "myfont1";
  background: #c85f48;
  text-align: center;
  cursor: pointer;
  transition: transform .3s, opacity .3s;
}

main .recruit .recruit-content .recruit-btn::after {
  content: '>';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #fff;
}

main .recruit .recruit-content .recruit-btn:hover {
  opacity: .6;
}

main .recruit .recruit-content .recruit-btn:active {
  opacity: .4;
  transform: translate(2px, 2px);
}

main .recruit .recruit-content .recruit-btn a {
  display: block;
  width: 100%;
  padding: 19px 0;
}

main .recruit .recruit-content .recruit-btn .recruit-btn-shadow {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 240px;
  height: 57px;
  border: 1px solid #c85f48;
  transition: transform .3s;
  pointer-events: none;
}

main .recruit .recruit-content .recruit-btn:active .recruit-btn-shadow {
  transform: translate(-2px, -2px);
}

main .recruit .recruit-content .recruit-img {
  opacity: 0;
  transform: translateY(100px);
  transition: transform .6s, opacity .6s;
}

main .recruit .recruit-content .recruit-img img {
  width: 100%;
}

/*=======================================================================
contact
=======================================================================*/
main .contact {
  padding: 120px 0;
}

main .contact .contact-title {
  position: relative;
  width: min(100% - 122px, 1120px);
  margin-inline: auto;
}

main .contact .contact-title img {
  position: absolute;
  bottom: 0;
  left: -42.5px;
  z-index: -2;
}

main .contact .contact-title h2 {
  font-family: "myfont1";
  font-weight: bold;
  font-size: 2rem;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff;
}

main .contact .contact-title p {
  margin-top: -4px;
  font-family: "Playfair Display", serif;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff;
}

main .contact .pc-contact {
  margin-top: 8px;
  text-align: center;
  font-family: "myfont2";
  font-size: 1.25rem;
  letter-spacing: 2px;
}

main .contact .sp-contact {
  display: none;
  margin-top: 8px;
  text-align: center;
  font-family: "myfont2";
  font-size: 1.25rem;
  letter-spacing: 2px;
}

main .contact .contact-content {
  position: relative;
  width: min(100% - 100px, 550px);
  margin-top: 32px;
  margin-inline: auto;
  padding: 20px 0;
  color: #c85f48;
  border: 1px solid #c85f48;
  z-index: 2;
}

main .contact .contact-content::before {
  content: '';
  position: absolute;
  top: calc(100% - 1px);
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-top: 30px solid #fff;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  z-index: 2;
}

main .contact .contact-content::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-top: 30px solid #c85f48;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
}

main .contact .contact-content p {
  width: min(100% - 40px, 460px);
  margin-inline: auto;
  font-family: "Shippori Mincho", serif;
  font-size: 1.25rem;
  letter-spacing: 2px;
}

main .contact .contact-content p+p {
  margin-top: 8px;
}

main .contact .contact-btn {
  position: relative;
  width: min(100% - 120px, 450px);
  margin: 32px auto 0;
  font-family: "myfont1";
  font-size: 1.5rem;
  color: #fff;
  background: #c85f48;
  text-align: center;
  cursor: pointer;
  transition: transform .3s, opacity .3s;
}

main .contact .contact-btn:hover {
  opacity: .6;
}

main .contact .contact-btn:active {
  opacity: .4;
  transform: translate(2px, 2px);
}

main .contact .contact-btn a {
  position: relative;
  display: block;
  width: 100%;
  padding: 27px 0;
}

main .contact .contact-btn img {
  position: absolute;
  top: 55%;
  left: 5%;
  transform: translateY(-50%);
}

main .contact .contact-btn a::before {
  content: url(mail-icon.png);
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: calc(50% - 116px);
  left: calc(5% - 116px);
  transform: translateY(-50%);
  scale: .1;
}

main .contact .contact-btn a::after {
  content: '>';
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  color: #fff;
}

main .contact .contact-btn .contact-btn-shadow {
  position: absolute;
  top: 2px;
  left: 2px;
  width: min(100vw - 120px, 450px);
  height: 78px;
  border: 1px solid #c85f48;
  transition: transform .3s;
  pointer-events: none;
}

main .contact .contact-btn:active .contact-btn-shadow {
  transform: translate(-2px, -2px);
}



/*=======================================================================
footer
=======================================================================*/
footer {
  font-family: "myfont1";
  padding: 60px 0 16px;
  color: #ffffff;
  background: #104383;
}

footer .footer-main {
  width: min(100% - 40px, 1120px);
  margin-inline: auto;
}

footer .footer-main .footer-menu {
  position: relative;
  padding-bottom: 16px;
}

footer .footer-main .footer-menu::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 1px;
  background: #fff;
  opacity: .6;
}

footer .footer-main .footer-menu ul {
  display: flex;
  justify-content: center;
}

footer .footer-main .footer-menu ul li {
  width: 160px;
  height: 48px;
}

footer .footer-main .footer-menu ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.125rem;
  cursor: pointer;
}

footer .footer-main .footer-menu ul li a:hover {
  opacity: .6;
  scale: 1.1;
}

footer .footer-main .footer-menu ul .footer-service {
  position: relative;
}

footer .footer-main .footer-menu ul .footer-service::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 30px;
  background: #fff;
  opacity: .6;
}

footer .footer-main .footer-menu ul .footer-service::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 30px;
  background: #fff;
  opacity: .6;
}

footer .footer-main .footer-menu ul .footer-contact {
  position: relative;
}

footer .footer-main .footer-menu ul .footer-contact::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 30px;
  background: #fff;
  opacity: .6;
}

footer .footer-main .footer-logo {
  margin-top: 32px;
}

footer .footer-main .footer-logo .footer-logo-name {
  text-align: center;
}

footer .footer-main .footer-logo .footer-logo-name a {
  font-family: "M PLUS 2", sans-serif;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 40px;
  white-space: nowrap;
}

footer .footer-main .footer-logo .footer-logo-name a span {
  font-size: 1.875rem;
}

footer .footer-main .footer-logo .footer-logo-address {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 12px;
  font-size: 1.125rem;
  text-align: center;
}

footer .footer-copy {
  text-align: center;
  font-size: .85rem;
  margin-top: 36px;
}

/*=======================================================================
media
=======================================================================*/
@media screen and (min-width:1440px) {
  main .mainvisual .mainvisual-text {
    right: calc(50% + 137px);
  }

  main .mainvisual .mainvisual-img1 {
    left: calc(50% - 110px);
  }

  main .mainvisual .mainvisual-img2 {
    left: calc(50% + 52px);
  }

  main .mainvisual .mainvisual-img3 {
    left: calc(50% + 103px);
  }
  
  main .mainvisual .square1 {
    left: calc(50% - 295px);
  }

  main .mainvisual .square2 {
    left: calc(50% + 375px);
  }
}

@media screen and (max-width:980px) {
  main .history .history-content .pc-since {
    font-size: 10rem;
  }

  main .history .history-content .pc-since span {
    font-size: 7rem;
  }
}

@media screen and (max-width:900px) {
  header .header-menu {
    display: none;
  }

  header #hamburger {
    display: block;
  }

  header #mask {
    display: block;
  }

  main .about .about-main>h3 {
    display: block;
  }

  main .about .about-main .about-block {
    flex-direction: column-reverse;
  }

  main .about .about-main .about-block .about-content h3 {
    display: none;
  }

  main .about .about-main .about-block {
    gap: 0px;
    margin-top: 8px;
  }

  main .about .about-main .about-block>div {
    width: 100%;
  }

  main .about .about-main .about-block .about-content .about-text {
    margin-top: 8px;
  }

  main .about .about-block .about-content .about-btn {
    margin-inline: auto;
    margin-top: 24px;
  }

  main .service .service-main>h3 {
    display: block;
  }

  main .service .service-main .service-block {
    flex-direction: column-reverse;
  }

  main .service .service-main .service-block>div {
    width: 100%;
  }

  main .service .service-main .service-block .service-content h3 {
    display: none;
  }

  main .service .service-main .service-block {
    gap: 0px;
    margin-top: 8px;
  }

  main .service .service-main .service-block>div {
    width: 100%;
  }

  main .service .service-main .service-block .service-content .service-text {
    margin-top: 8px;
  }

  main .recruit .recruit-content {
    flex-direction: column-reverse;
  }

  main .recruit .recruit-content>div {
    width: 100%;
  }

  main .recruit .recruit-content {
    gap: 0px;
    margin-top: 24px;
  }

  main .recruit .recruit-content .recruit-text p {
    margin-top: 8px;
  }

  main .recruit .recruit-content .recruit-btn {
    margin-top: 24px;
    margin-inline: auto;
  }

  main .contact .pc-contact {
    display: none;
  }

  main .contact .sp-contact {
    display: block;
  }

}

@media screen and (max-width:780px) {
  main .service .service-supply>div {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  main .service .service-supply>div .service1,
  main .service .service-supply>div .service2,
  main .service .service-supply>div .service3,
  main .service .service-supply>div .service4 {
    width: calc((100% - 24px) / 2);
  }

  main .service .service-example>div {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  main .service .service-example>div .example1,
  main .service .service-example>div .example2,
  main .service .service-example>div .example3 {
    width: 100%;
  }

  main .history .history-content .pc-since {
    font-size: 5rem;
  }

  main .history .history-content .pc-since span {
    font-size: 3.125rem;
  }
}

@media screen and (max-width:600px) {
  main .mainvisual .mainvisual-text .pc-p {
    font-size: 2.125rem;
  }

  main .mainvisual .mainvisual-text .sub-p {
    font-size: 1.25rem;
  }

  main .service .service-supply>div>div p {
    font-size: .75rem;
  }

  main .service .service-example>div>div p {
    font-size: .75rem;
  }

  main .contact .contact-content p {
    font-size: 1rem;
  }

  footer .footer-main .footer-logo .footer-logo-address {
    display: block;
    text-align: center;
  }

  footer .footer-main .footer-logo .footer-logo-address p:nth-child(2) {
    margin-top: 8px;
  }
}

@media screen and (max-width:600px) {
  header h1 {
    font-size: 1.125rem;
    line-height: 20px;
  }

  header h1 img {
    width: 20px;
    height: 20px;
  }

  header h1 span {
    font-size: 1rem;
  }

  main .mainvisual .square1 {
    top: 5px;
    right: 285px;
    width: 180px;
    height: 55px;
    clip-path: polygon(0 0,
        83% 0,
        100% 100%,
        17% 100%);
  }

  main .mainvisual .mainvisual-img1 {
    top: 75px;
    right: 185px;
    width: 240px;
    height: 160px;
    clip-path: polygon(0 0,
        62% 0,
        100% 100%,
        38% 100%);
  }

  main .mainvisual .mainvisual-img2 {
    top: 410px;
    right: -16px;
    width: 240px;
    height: 200px;
    clip-path: polygon(0 0,
        54% 0,
        100% 100%,
        46% 100%);
  }

  main .mainvisual .mainvisual-img3 {
    top: 15px;
    right: -43px;
    width: 330px;
    height: 240px;
  }

  main .mainvisual .square2 {
    top: 425px;
    right: -263px;
    width: 330px;
    height: 240px;
  }

  main .about .about-title {
    width: min(100% - 80px, 1120px);
  }

  main .about .about-title img {
    left: -20px;
    width: 60px;
    height: 60px;
  }

  main .about .about-title h2 {
    font-size: 1.5rem;
  }

  main .about .about-title p {
    margin-top: 0px;
    font-size: .625rem;
  }

  main .about .about-main>h3 {
    font-size: 1.25rem;
  }

  main .about .about-main .about-block .about-content .about-text p {
    font-size: 1rem;
    line-height: 1.75;
  }

  main .service .service-title {
    width: min(100% - 80px, 1120px);
  }

  main .service .service-title img {
    left: -20px;
    width: 60px;
    height: 60px;
  }

  main .service .service-title h2 {
    font-size: 1.5rem;
  }

  main .service .service-title p {
    margin-top: 0px;
    font-size: .625rem;
  }

  main .service .service-main>h3 {
    font-size: 1.25rem;
  }

  main .service .service-main .service-block .service-content .service-text p {
    font-size: 1rem;
    line-height: 1.75;
  }

  main .history {
    position: relative;
    height: 790px;
    overflow: hidden;
    background: none;
    padding: 80px 0;
    z-index: 0;
  }
  
  main .history .inner  {
    display: block;
  }

  main .history .inner .sp-since {
    display: block;
  }
  
  main .history .history-content .pc-since {
    display: none;
  }


  main .history .history-title p {
    font-size: 1.75rem;
    letter-spacing: 1px;
  }

  main .history .pc-history-text {
    display: none;
  }

  main .history .sp-history-text {
    display: block;
  }

  main .recruit .recruit-title {
    width: min(100% - 80px, 1120px);
  }

  main .recruit .recruit-title img {
    left: -20px;
    width: 60px;
    height: 60px;
  }

  main .recruit .recruit-title h2 {
    font-size: 1.5rem;
  }

  main .recruit .recruit-title p {
    margin-top: 0px;
    font-size: .625rem;
  }

  main .recruit .recruit-content .recruit-text p {
    font-size: 1rem;
  }

  main .contact .contact-title {
    width: min(100% - 80px, 1120px);
  }

  main .contact .contact-title img {
    left: -20px;
    width: 60px;
    height: 60px;
  }

  main .contact .contact-title h2 {
    font-size: 1.5rem;
  }

  main .contact .contact-title p {
    margin-top: 0px;
    font-size: .625rem;
  }

  main .contact .sp-contact {
    font-size: 1rem;
  }

  main .contact .contact-content p {
    width: 290px;
    font-size: .75rem;
  }

  main .contact .contact-btn {
    font-size: 1rem;
  }

  main .contact .contact-btn .contact-btn-shadow {
    height: 71px;
  }

  footer {
    padding: 24px 0 16px;
  }

  footer .footer-main .footer-menu ul {
    font-size: .875rem;
    flex-wrap: wrap
  }
  
  footer .footer-main .footer-menu ul li {
    margin-inline: auto;
    width: calc(100% /2);
  }

  footer .footer-main .footer-menu ul .footer-service::before {
    background: transparent;
  }
  
  footer .footer-main .footer-menu ul .footer-service::after {
    background: transparent;
  }
  
  footer .footer-main .footer-menu ul .footer-contact::before {
    background: transparent;
  }

  footer .footer-main .footer-logo .footer-logo-name a {
    font-size: 1.25rem;
    line-height: 20px;
  }

  footer .footer-main .footer-logo .footer-logo-name a img {
    width: 20px;
    height: 20px;
  }
  
  footer .footer-main .footer-logo .footer-logo-name a span {
    font-size: 1rem;
  }

  footer .footer-main .footer-logo .footer-logo-address {
    font-size: .625rem;
  }
}