@charset "utf-8";

@font-face {
  font-family: "myfont1";
  src: url("../font/GenEiChikugoMin3-R.ttf") format(truetype);
}

@font-face {
  font-family: "myfont2";
  src: url("../font/GenEiGothicN-Regular.otf") format(opentype);
}

@font-face {
  font-family: "myfont3";
  src: url("../font/GenEiGothicN-ExtraLigh.otf") format(opentype);
}

@font-face {
  font-family: "myfont4";
  src: url("../font/GenEiGothicN-Ligh.otf") format(opentype);
}

@font-face {
  font-family: "myfont5";
  src: url("../font/GenEiGothicN-SemiLight.otf") format(opentype);
}

@font-face {
  font-family: "myfont6";
  src: url("../font/GenEiGothicN-Heavy.otf") format(opentype);
}

@font-face {
  font-family: "myfont7";
  src: url("../font/GenEiGothicN-Bold.otf") format(opentype);
}

@font-face {
  font-family: "myfont8";
  src: url("../font/GenEiGothicN-SemiBold.otf") format(opentype);
}

/*=======================================================================
common
=======================================================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: bottom;
}

/*=======================================================================
header
=======================================================================*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 72px;
  padding: 0 20px;
}

header h1 {
  font-family: "M PLUS 2", sans-serif;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 40px;
  white-space: nowrap;
  transition: all .3s;
  z-index: 5;
}

header h1 span {
  font-size: 1.875rem;
}

header .header-menu ul {
  display: flex;
}

header .header-menu ul li {
  font-family: "myfont1";
  width: 132px;
  height: 32px;
}

header .header-menu ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.125rem;
  cursor: pointer;
}

header .header-menu ul li a:hover {
  opacity: .6;
  scale: 1.1;
}

header .header-menu .header-service {
  position: relative;
}

header .header-menu .header-service::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 32px;
  background: #000;
  opacity: .6;
}

header .header-menu .header-service::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 32px;
  background: #000;
  opacity: .6;
}

header .header-menu .header-contact {
  position: relative;
}

header .header-menu .header-contact::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 32px;
  background: #000;
  opacity: .6;
}

header #hamburger {
  position: relative;
  display: none;
  width: 60px;
  height: 60px;
  cursor: pointer;
  z-index: 5;
}

header #hamburger #border1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 42px;
  height: 2px;
  background: #111;
  transition: all .3s;
}

header #hamburger #border1.show {
  transform: rotate(45deg) translate(-7px, 21px);
}

header #hamburger #border-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 42px;
  height: 2px;
  background: #111;
  transition: opacity .3s;
}

header #hamburger #border-center.show {
  opacity: 0;
}

header #hamburger #border2 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  width: 42px;
  height: 2px;
  background: #111;
  transition: all .3s;
}

header #hamburger #border2.show {
  transform: rotate(-45deg) translate(-5px, -22px);
}

header #menu {
  position: fixed;
  top: 72px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  border-top: 1px solid #bbb;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
  z-index: 4;
}

header #menu.show {
  opacity: 1;
}

header #menu ul li {
  font-family: "myfont1";
  width: 100%;
  padding: 32px 0;
  border-bottom: 1px solid #bbb;
  text-align: center;
  cursor: pointer;
}

header #menu ul li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.125rem;
  cursor: pointer;
}

header #menu ul li a:hover {
  opacity: .6;
  scale: 1.1;
}

header #menu li:nth-child(1) {
  transform: translateY(200px);
  opacity: 0;
  transition: all .3s;
}

header #menu.show li:nth-child(1) {
  transform: none;
  opacity: 1;
  pointer-events: all;
}

header #menu li:nth-child(2) {
  transform: translateY(200px);
  opacity: 0;
  transition: all .3s .1s;
}

header #menu.show li:nth-child(2) {
  transform: none;
  opacity: 1;
  pointer-events: all;
}

header #menu li:nth-child(3) {
  transform: translateY(200px);
  opacity: 0;
  transition: all .3s .2s;
}

header #menu.show li:nth-child(3) {
  transform: none;
  opacity: 1;
  pointer-events: all;
}

header #menu li:nth-child(4) {
  transform: translateY(200px);
  opacity: 0;
  transition: all .3s .3s;
}

header #menu.show li:nth-child(4) {
  transform: none;
  opacity: 1;
  pointer-events: all;
}

header #mask {
  position: fixed;
  inset: 0;
  background: #fff;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
  z-index: 3;
}

header #mask.show {
  opacity: 1;
  pointer-events: all;
}

/*=======================================================================
mainvisual
=======================================================================*/
main .mainvisual {
  position: relative;
  width: 100vw;
  height: 278px;
  background-image: url(recruit.jpeg);
  background-size: cover;
  background-position: center 70%;
  overflow: hidden;
}

main .mainvisual .background {
  position: absolute;
  inset: 0 0 0 0;
  background: rgba(255, 255, 255, .5);
}

main .mainvisual .mainvisual-text {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 142px;
  width: min(100% - 90px, 450px);
  text-align: center;
  background: rgba(255, 255, 255, .7);
}

main .mainvisual .mainvisual-text div .main-p {
  font-family: "myfont1";
  font-size: 3rem;
  white-space: nowrap;
}

main .mainvisual .mainvisual-text div .sub-p {
  margin-top: 6px;
  font-family: "Playfair Display", serif;
  font-size: 1.25rem;
  white-space: nowrap;
}

/*=======================================================================
recruit-text
=======================================================================*/
main .recruit-text {
  width: min(100% - 40px, 1120px);
  margin-inline: auto;
  text-align: center;
  padding: 84px 0;
}

main .recruit-text>p {
  font-family: "myfont2";
  font-size: 1.25rem;
  line-height: 1.75;
}

main .recruit-text>p+p {
  margin-top: 20px;
}

main .recruit-text div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 64px;
}

main .recruit-text div img {
  vertical-align: middle;
}

main .recruit-text div p {
  font-family: "M PLUS 2", sans-serif;
  font-weight: 600;
  font-size: 2.25rem;
}

main .recruit-text div p span {
  font-size: 1.875rem;
}

/*=======================================================================
recruit-personal
=======================================================================*/
/* main .recruit-personal {
  background: rgba(217, 217, 217, .3);
}

main .recruit-personal>div {
  width: min(100% - 40px, 1120px);
  margin-inline: auto;
  padding: 60px 0;
}

main .recruit-personal>div h3 {
  position: relative;
  font-family: 'myfont1';
  font-size: 2rem;
  text-align: center;
}

main .recruit-personal>div h3::before {
  content: '';
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 1px;
  background: #c85f48;
}

main .recruit-personal>div>div {
  margin-top: 48px;
  display: flex;
  gap: 32px;
}

main .recruit-personal>div>div div {
  width: calc((100% - 32px) / 2);
}

main .recruit-personal>div>div div img {
  width: 100%;
}

main .recruit-personal>div>div .recruit-personal-text {
  font-family: 'myfont2';
  font-size: 1.125rem;
} */

/*=======================================================================
recruit-content
=======================================================================*/
main .recruit-content {
  width: min(100% - 40px, 1120px);
  margin-inline: auto;
  padding: 104px 0;
}

main .recruit-content h3 {
  position: relative;
  font-family: 'myfont1';
  font-size: 2rem;
  text-align: center;
}

main .recruit-content h3::before {
  content: '';
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 1px;
  background: #c85f48;
}

main .recruit-content dl {
  width: 100%;
  margin-inline: auto;
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
}

main .recruit-content dl dt {
  width: 30%;
  padding: 28px;
  font-family: 'myfont2';
  font-size: 1.125rem;
  border-bottom: 1px solid #878787;
}

main .recruit-content dl dd {
  width: 70%;
  padding: 28px;
  font-family: 'myfont2';
  font-size: 1.125rem;
  border-bottom: 1px solid #878787;
}


/*=======================================================================
recruit-contact
=======================================================================*/
main .recruit-contact {
  background: rgba(217, 217, 217, .3);
}

main .recruit-contact>div {
  width: min(100% - 40px, 1120px);
  margin-inline: auto;
  padding: 74px 0 120px;
}

main .recruit-contact>div h3 {
  position: relative;
  font-family: 'myfont1';
  font-size: 2rem;
  text-align: center;
}

main .recruit-contact>div h3::before {
  content: '';
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 1px;
  background: #c85f48;
}

main .recruit-contact>div>p {
  margin-top: 50px;
  font-family: 'myfont2';
  font-size: 1.25rem;
  line-height: 1.75;
  letter-spacing: 2px;
  text-align: center;
}

main .recruit-contact p span {
  display: inline-block;
}

main .recruit-contact>div .recruit-entry {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  width: min(100% - 40px, 1000px);
  margin-inline: auto;
  margin-top: 74px;
  background: #fff;
  border-radius: 8px;
  padding: 74px 0;
}

main .recruit-contact>div .recruit-entry div {
  width: calc((100% - 48px - 60px) / 2);
  text-align: center;
}

main .recruit-contact>div .recruit-entry div p:nth-child(1) {
  font-size: 3rem;
}

main .recruit-contact>div .recruit-entry div p:nth-child(2) {
  font-family: 'myfont2';
  font-size: 1.25rem;
}

main .recruit-contact>div .recruit-entry .recruit-entry-btn {
  font-family: 'myfont1';
  font-size: 1.5rem;
  color: #fff;
  background: #c85f48;
  border-radius: 16px;
  cursor: pointer;
}

main .recruit-contact>div .recruit-entry .recruit-entry-btn:hover {
  opacity: .7;
}

main .recruit-contact>div .recruit-entry .recruit-entry-btn a {
  position: relative;
  display: block;
  width: 100%;
  padding: 28px 0;
}

main .recruit-contact>div .recruit-entry .recruit-entry-btn a::after {
  content: '>';
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  color: #fff;
}

/*=======================================================================
footer
=======================================================================*/
footer {
  font-family: "myfont1";
  padding: 30px 0 16px;
  color: #ffffff;
  background: #104383;
}

footer .footer-main {
  width: min(100% - 40px, 1120px);
  margin-inline: auto;
}

footer .footer-main .footer-menu {
  position: relative;
  padding-bottom: 16px;
}

footer .footer-main .footer-menu::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 1px;
  background: #fff;
  opacity: .6;
}

footer .footer-main .footer-menu ul {
  display: flex;
  justify-content: center;
}

footer .footer-main .footer-menu ul li {
  width: 160px;
  height: 48px;
}

footer .footer-main .footer-menu ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.125rem;
  cursor: pointer;
}

footer .footer-main .footer-menu ul li a:hover {
  opacity: .6;
  scale: 1.1;
}

footer .footer-main .footer-menu ul .footer-service {
  position: relative;
}

footer .footer-main .footer-menu ul .footer-service::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 30px;
  background: #fff;
  opacity: .6;
}

footer .footer-main .footer-menu ul .footer-service::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 30px;
  background: #fff;
  opacity: .6;
}

footer .footer-main .footer-menu ul .footer-contact {
  position: relative;
}

footer .footer-main .footer-menu ul .footer-contact::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 30px;
  background: #fff;
  opacity: .6;
}

footer .footer-main .footer-logo {
  margin-top: 46px;
}

footer .footer-main .footer-logo .footer-logo-name {
  text-align: center;
}

footer .footer-main .footer-logo .footer-logo-name a {
  font-family: "M PLUS 2", sans-serif;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 40px;
  white-space: nowrap;
}

footer .footer-main .footer-logo .footer-logo-name a span {
  font-size: 1.875rem;
}

footer .footer-main .footer-logo .footer-logo-address {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 20px;
  font-size: 1.125rem;
  text-align: center;
}

footer .footer-copy {
  text-align: center;
  font-size: .85rem;
  margin-top: 24px;
}

/*=======================================================================
media
=======================================================================*/
@media screen and (max-width:900px) {
  header .header-menu {
    display: none;
  }

  header #hamburger {
    display: block;
  }

  header #mask {
    display: block;
  }

  main .recruit-contact>div .recruit-entry {
    display: block;
    gap: 0px;
  }

  main .recruit-contact>div .recruit-entry div {
    width: calc(100% - 40px);
    margin-inline: auto;
  }

  main .recruit-contact>div .recruit-entry .recruit-entry-btn {
    margin-top: 24px;
    max-width: 400px;
  }
}

@media screen and (max-width:600px) {
  main .mainvisual .mainvisual-text .pc-p {
    font-size: 2.125rem;
  }

  main .mainvisual .mainvisual-text .sub-p {
    font-size: 1.25rem;
  }

  footer .footer-main .footer-logo .footer-logo-address {
    display: block;
    text-align: center;
  }

  footer .footer-main .footer-logo .footer-logo-address p:nth-child(2) {
    margin-top: 8px;
  }
}

@media screen and (max-width:600px) {
  header h1 {
    font-size: 1.125rem;
    line-height: 20px;
  }

  header h1 img {
    width: 20px;
    height: 20px;
  }

  header h1 span {
    font-size: 1rem;
  }
  
  main .mainvisual .mainvisual-text {
    height: 80px;
    width: 200px;
  }
  
  main .mainvisual .mainvisual-text div .main-p {
    font-size: 1.5rem;
  }
  
  main .mainvisual .mainvisual-text div .sub-p {
    margin-top: 4px;
    font-size: .625rem;
  }

  main .recruit-text>p {
    font-size: 1rem;
  }
  
  main .recruit-text div img {
    vertical-align: middle;
    width: 30px;
    height: 30px;
  }

  main .recruit-text div p {
    font-family: "M PLUS 2", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
  }
  
  main .recruit-text div p span {
    font-size: 1.25rem;
  }

  main .recruit-content h3 {
    font-size: 1.25rem;
  }
  
  main .recruit-content dl dt {
    padding: 20px 12px;
    font-size: .875rem;
  }
  
  main .recruit-content dl dd {
    padding: 20px 12px;
    font-size: .875rem;
  }

  main .recruit-contact>div h3 {
    font-size: 1.5rem;
  }
  
  main .recruit-contact>div>p {
    font-size: 1rem;
  }

  main .recruit-contact>div .recruit-entry div p:nth-child(1) {
    font-size: 2rem;
  }
  
  main .recruit-contact>div .recruit-entry div p:nth-child(2) {
    font-size: 1rem;
  }
  
  main .recruit-contact>div .recruit-entry .recruit-entry-btn {
    font-size: 1.25rem;
  }

  footer {
    padding: 24px 0 16px;
  }

  footer .footer-main .footer-menu ul {
    font-size: .875rem;
    flex-wrap: wrap
  }
  
  footer .footer-main .footer-menu ul li {
    margin-inline: auto;
    width: calc(100% /2);
  }

  footer .footer-main .footer-menu ul .footer-service::before {
    background: transparent;
  }
  
  footer .footer-main .footer-menu ul .footer-service::after {
    background: transparent;
  }
  
  footer .footer-main .footer-menu ul .footer-contact::before {
    background: transparent;
  }

  footer .footer-main .footer-logo .footer-logo-name a {
    font-size: 1.25rem;
    line-height: 20px;
  }

  footer .footer-main .footer-logo .footer-logo-name a img {
    width: 20px;
    height: 20px;
  }
  
  footer .footer-main .footer-logo .footer-logo-name a span {
    font-size: 1rem;
  }

  footer .footer-main .footer-logo .footer-logo-address {
    font-size: .625rem;
  }
}